body{
    min-height: 5000px;
    margin: 0;
    padding: 0;

    h1{
        text-align: center;
        margin: 60px;
    }

    .boxBar{
        width: 100%;
        border: 5px solid royalblue;
        position: fixed;
        top: 0;
        left: 0;
    }

    .bar{
        height: 20px;
        background: linear-gradient(to left , red , green , blue);
        width: 0%;
    }
}