body{
    padding: 0px;
    margin: 0px;

    h1{
        text-align: center;
    }

    #vanta {
        width: 80%; /* Largeur de la div */
        height: 500px; /* Hauteur de la div */
        border: solid 3px #00ef81;
        border-radius: 10px;
        margin: auto; /* Centre la div horizontalement */
        display: flex; /* Utilise flexbox pour centrer le contenu */
        justify-content: center; /* Centre le contenu horizontalement */
        align-items: center; /* Centre le contenu verticalement */
        background-color: lightgray; /* Couleur de fond pour visualiser la div */
    }
}