body{
    margin: 0;
    padding: 0;

    h1{
        text-align: center;
        margin: 60px;
    }

    #btn1{
        display: flex;
        justify-self: center;
    }

    .chapter{
        width: 60%;
        border: solid 3px blueviolet;
        border-radius: 10px;
        margin: 10px 0px;
        text-align: center;
        display: flex;
        justify-self: center;
        flex-direction: column;
    }
}